<section>
	
	<h3>Over Mij</h3>
	<div class="face-lockup">
		
		<div class="face-img"></div>
		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>
	</div>
	<div class="blurb">
		<p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</strong> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
		<div class="skill-lockup">

		<div class="skill-unit">
			<div class="skill-label">Designen</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

		<div class="skill-unit">
			<div class="skill-label">Communicatie</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Sociale Vaardigheden</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Code Schrijven</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Organisatie</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Flexibiliteit</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Hilariteit</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Focus</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Vrolijkheid</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		<div class="skill-unit">
			<div class="skill-label">Negativiteit</div>
				<div class="skill-icons">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>


		</div>

		</div>
	</div>
</section>